.rounded-2 {
    border-radius: 1em 0 1em 0;
}

#toast {
    visibility: hidden;
    bottom: 0.75rem;
    z-index: 1;
    opacity: 0;
}

#toast.show-toast {
    visibility: visible;
    opacity: 100%;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: -2.75rem; opacity: 0;}
    to {bottom: 0.75rem; opacity: 1;}
}

@keyframes fadein {
    from {bottom: -2.75rem; opacity: 0;}
    to {bottom: 0.75rem; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 0.75rem; opacity: 1;}
    to {bottom: -2.75rem; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 0.75rem; opacity: 1;}
    to {bottom: -2.75rem; opacity: 0;}
}