<div class="flex">
    <div class="w-1/2 flex">
        <div class="m-auto">
            <label for="dialogue-chance" class="my-auto">Dialogue Chance:</label>
            <input id="dialogue-chance" type="number" min="0" max="100" step="1" value="100" required class="text-tc-black border border-tc-red text-sm rounded-lg focus:ring-tc-blue focus:border-tc-blue dark:bg-tc-white">
        </div>
    </div>
    <div class="w-1/2">
        <button id="delete-dialogue" class="hover:bg-tc-purple rounded-2 block bg-tc-red w-full py-0.5 mx-0 my-2">Delete Dialogue</button>
    </div>
</div>