<div class="border-2 border-tc-red border-solid p-5">
    <h1 class="text-tc-blue text-xl pb-1">Files</h1>
    <div class="border-2 border-tc-blue border-solid p-5">
        <form class="overflow-y-auto max-h-56">
            <fieldset id="files">
                <input onclick="" type="radio" name="conversation" value="-1-1" checked class="hidden"/>
            </fieldset>
        </form>
        <button onclick="addFile()" class="hover:bg-tc-purple rounded-2 block bg-tc-blue w-full px-5 py-0.5 m-auto">New File</button>
    </div>
</div>