<li class="bg-tc-purple border-b-2 border-tc-red border-solid p-2 rounded-2 mb-3 m-auto grid grid-cols-12 gap-x-2">
    <div class="flex col-span-1">
        <img id="draggable" class="max-h-8 max-w-8 cursor-pointer m-auto " src="../images/drag.svg" alt="Draggable">
    </div>

    <div class="col-span-5">
        <div class="grid grid-cols-3 gap-x-1">
            <div id="sticker-selector" class="col-span-1">
                <label for="sticker">Sticker</label>
                <select id="sticker" name="sticker-1" class="px-2 py-1 text-tc-black block w-full border border-tc-red text-sm rounded-lg focus:ring-tc-blue focus:border-tc-blue dark:bg-tc-white">
                    <option disabled selected value>- sticker -</option>
                    <option value="<3>"><3</option>
                    <option value="suugoi">suugoi</option>
                    <option value="clap">clap</option>
                    <option value="wat">wat</option>
                </select>
            </div>
            <div id="reacton-selector" class="col-span-1">
                <label for="reaction">Reaction</label>
                <input id="reaction" placeholder="emoji" class="px-2 py-1 text-tc-black block w-full border border-tc-red text-sm rounded-lg focus:ring-tc-blue focus:border-tc-blue dark:bg-tc-white">
            </div>
            <div id="actor-selector" class="col-span-1">
                <label for="actor" class="block m-auto">Actor</label>
                <select id="actor" name="actor" class="px-2 py-1 text-tc-black block w-full border border-tc-red text-sm rounded-lg focus:ring-tc-blue focus:border-tc-blue dark:bg-tc-white">
                    <option disabled selected value>- actor -</option>
                    <option value="inori">Inori</option>
                    <option value="suu">Suu</option>
                    <option value="des">Des</option>
                    <option value="crow">Crow</option>
                </select>
            </div>
        </div>
        <div class="block">
            <div id="custom-channel-selector" class="block mt-1">
                <label for="custom-channel" class="align-middle">Ch.</label>
                <input id="custom-channel" placeholder="target channel" class="w-10/12 px-2 py-1 text-tc-black border border-tc-red text-sm rounded-lg focus:ring-tc-blue focus:border-tc-blue dark:bg-tc-white">
            </div>
        </div>
    </div>
    <div class="col-span-2 table table-fixed">
        <div id="type-speed-selector" class="table-row">
            <label for="type-speed" class="w-7/12 h-full">Type sp.</label>
            <input id="type-speed" type="number" min="0.1" max="5" step="0.1" value="1" required class="w-5/12 text-tc-black border border-tc-red text-sm rounded-lg focus:ring-tc-blue focus:border-tc-blue dark:bg-tc-white">
        </div>
        <div id="read-speed-selector" class="table-row">
            <label for="read-speed" class="w-7/12">Read sp.</label>
            <input id="read-speed" type="number" min="0.1" max="5" step="0.1" value="1" required class="w-5/12 text-tc-black border border-tc-red text-sm rounded-lg focus:ring-tc-blue focus:border-tc-blue dark:bg-tc-white">
        </div>
    </div>
    <div id="line-selector" class="col-span-3 block">
        <label for="line" class="w-full">Line</label>
        <textarea id="line" placeholder="actor line" class="w-full h-16 px-2 py-1 text-tc-black border border-tc-red text-sm rounded-lg focus:ring-tc-blue focus:border-tc-blue dark:bg-tc-white"></textarea>
    </div>
    <div id="delete-line" class="flex col-span-1">
        <img id="delete" class="max-h-8 max-w-8 cursor-pointer m-auto " src="../images/trash.svg" alt="Delete">
    </div>
</li>